@(greeting: String)

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

<script src='@routes.Assets.versioned("vue/components/greeting-form.js")'></script>

<div id="app">
  <p>Container</p>
  <greeting-form :greeting="'@greeting'">
</div>

<script type="module">
  
  Vue.component('greeting-form', GreetingForm.default);
  
  var app = new Vue({
    el: '#app'
  })
</script>
